/*Seleccionamos elemento por ID*/
#cabecera {
    color: snow;
}

/*Seleccionamos elemento por Clase*/
.articulos {
    background: white;
}

/*Seleccionamos elemento por etiqueta*/
body {
    background:rgb(162, 173, 255);
}

/*Seleccionar por atributo*/
blockquote[cite] {
    background: tomato;
}
