body {
    background:rgb(21, 22, 29);
}


ul {
    list-style-type: none; /*Sin puntos*/
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(47, 44, 66);
}


li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 50px;
    text-decoration: none; /*Sin subrayado*/
    font: 100% verdana;
}

/*Al poner el puntero encima:*/
li a:hover {
    background-color: #111;
}


header {
    color: snow;
    font: 200% verdana;
    text-align: center;
}

footer {
    color: snow;
    font: 100% verdana;
    text-align: center;
}

