html, body {
    background-color: #151618;
    font-family: "JetBrains Mono", monospace;
    margin: auto;
    padding: 50px;
}

#home{
    font-size: 2rem;
    text-decoration: none;
    color: white;
}


#header .site-title {
    font-size: 3rem;
    font-weight: bolder;
    color: #a9abb3;
    text-decoration: none;
}

.date{
    display: block;
    font-size: 1.5rem;
    color: #a9abb3;
}

.tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.tags .tag {
    margin: 0 0.5rem 0.3rem 0;
    display: block;
    color: rgb(27, 27, 28);
    background: #a9abb3;
    border-radius: 15px;
    font-size: 1rem;
    padding: 0 0.8rem;
    line-height: 1.3rem;
    cursor: pointer;
    text-decoration: none;
}

.article{
    font-size: 1.2rem;
    color: #a9abb3;
}